{% extends "dasar.html" %}

{% block content %}
  {% if form.errors %}
    <p>Nama pengguna dan sandi tidak cocok. Coba lagi</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Akunmu tidak bisa mengakses halaman ini. Untuk melanjutkan,
        silahkan login dengan akun bisa mengakses</p>
    {% else %}
      <p>Silahkan login untuk melihat halaman ini</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Asumsi kamu setup password_reset view di URLconf #}

  <p><a href="{% url 'password_reset' %}">Lupa password?</a></p>

{% endblock %}
