{% extends "dasar.html" %}

{% block content %}
    {% if validlink %}
        <p>Silahkan masukkan (dan konfirmasikan) password baru anda.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Password Baru:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Konfirmasi Password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Ganti Password Saya" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Reset password gagal</h1>
        <p>Link reset password salah, mungkin sudah pernah digunakan.
          Silahkan minta reset password kembali.</p>
    {% endif %}
{% endblock %}
