{% extends "dasar.html" %}

{% block content %}
    <h1>Seluruh Buku Yang Dipinjam</h1>

    {% if instancebuku_list %}
    <ul>

      {% for apapun in instancebuku_list %}
      <li class="{% if apapun.terlambat %}text-danger{% endif %}">
        <a href="{% url 'detail-buku' apapun.buku.pk %}">{{apapun.buku.judul}}</a> ({{ apapun.kembali }}) {% if user.is_staff %}- {{ apapun.peminjam }}{% endif %} 
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}
